@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
  /* margin: 0;
  padding: 0; */

  min-height: calc(100vh - 60px);
  padding-top: 60px; /* for header */
  padding-left: 10vw;
  padding-right: 10vw; 
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 100;
}