.workout-date {
    height: 58px;
    width: 58px;
    margin-right: 20px;
}
.workout-date-d, .workout-date-m, .workout-date-y {
    text-align: center;
}

.workout-date-d {
    font-size: 20px;
    height: 20px;
}

.workout-date-m {
    font-size: 12px;
    height: 12px;
}

.workout-date-y {
    font-size: 15px;
}

.workout-item {
    border-left: 3px solid orange;
    margin-bottom: 10px;
}
.workout-delete {
    padding-right: 5px;
    display: none;
}
.workout-chevron, .workout-checkmark, .workout-delete {
    padding-top: 8px;
    color: #444;
}
.workout-chevron {
    margin-left: 10px;
    display: inline-block;
}