.title {
  font-size: 180%;
}

table tr{
  height: 50px;
  vertical-align: middle;
  float: left;
  width: 90vw;
}

td {
  padding: 0;
  margin: 0;
}

#header-logo {
  height: 40px;
  padding-top: 5px;
}

#header {
  z-index: 10;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 50px;
  padding: 0 5vw;
  box-shadow: 0 0 10px #00000011;
}

#hamburger-column {
  width: 30px;
  padding-top: 5px;
}

#logo-column {
  width: 70px;
  text-align: right;
}

#title-column {
  width: 100px;
}

#user-column {
  width: calc(100vw - 200px);
}

#user-dropdown-select {
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

#profile-avatar {
  height: 35px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 4px;
}