.main-input-title {
    color: orange;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

#tags-container *{
    margin: 5px;
}

#tags-container {
    display: inline-block;
    margin-left: 2vw;
}

.drill-header{
    color: white;
    background-color: orange;
}