@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');

html {
  margin: 0;
  padding-top: 60px; 
  padding-left: 5vw;
  padding-right: 5vw; 
  font-family: 'Nunito', sans-serif;
}
  /* min-height: calc(100vh - 60px); */


h1 {
  font-weight: 100;
}